.custom-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0rem 1rem; 
    background-color: white;
    color: #052c65; 
    
}

.header-logo {
    height: 50px;
    max-width: 100px;
    padding-left: 0.25rem;
}

.header-title {
    margin: 0;
    font-size: 1.5rem;
    padding-right: 0.25rem;
}


.custom-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color:#ffffff; 
    color: #052c65;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; 
    margin: 0;
    z-index: 1030; 
}

.footer-title {
    margin: 0;
    padding: 0;
    line-height: 1;
}
