
body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background-color: #f8f9fa;
    text-align: center;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}