{% extends 'company/layouts/base.html' %}
{% load static %}
{% block extra_css %}

<link rel="stylesheet" href="{% static 'utils/css/modals.css' %}">
<link rel="stylesheet" href="{% static 'company/css/mapped_list.css' %}">
{% endblock %}
{% block title %}Mapped List{% endblock %}
{% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2 align-items-center justify-content-between">
      <div class="col-sm-6">
        <h1 class="page-title">Mapped List</h1>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="card shadow-sm border-0">
      <div class="card-body">
        <h4 class="text-center mb-4">Profiles Mapped to Each Outlet</h4>
        <div class="accordion" id="outletAccordion"></div>
      </div>
    </div>
  </div>
</section>
{% include "company/partials/modals.html" %}
{% endblock %}

{% block extra_js %}
<script type="module" src="{% static 'company/js/mappedList.js' %}"></script>
{% endblock %}
