.custom-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: flex-end; /* Align title to the right */
    align-items: center;
    padding:1rem 1rem;
    background-color: white;
    color: #052c65;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05); /* Thin and subtle shadow */
}

.header-title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    padding-right: 0.25rem;
    font-family: 'Poppins';
    letter-spacing: 1px;
}

.header-logo {
    height: 50px;
    max-width: 100px;
    padding-left: 0.25rem;
}



.custom-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    color: #052c65;
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    z-index: 1030;
    box-sizing: border-box;
    flex-shrink: 0;
}

.footer-title {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.scrollable-body main.flex-fill {
    overflow: auto;
    padding-top: 70px;
    padding-bottom: 60px;
}

.fixed-body main.flex-fill {
    overflow: hidden;
    padding: 0;
}
