{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Flash</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'orders/css/outlet_selection.css' %}">
</head>
<body>

    <!-- Header Section -->
    <header class="bg-white text-primary-emphasis px-1">
        <img src="{% static 'orders/images/food-flash-logo.png' %}" alt="Logo" class="header-logo">
        <h1 class="header-title">Food Flash</h1>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer Section -->
    <footer class="bg-dark text-white px-1 ">
        <p class="footer-title" >&copy; 2025 Softland India Ltd</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'orders/js/outlet_selection.js' %}"></script>
</body>
</html>
