

{% extends "orders/home_base.html" %}

{% block content %}
<div class="container-wrapper mx-auto">
    <div class="container px-0">
        <div id="vendor-logo-bar">
            <div class="add-btn-wrapper flex-shrink-0">
                <button id="add-outlet-btn"
                    class="btn add-outlet-btn"
                    data-bs-toggle="modal"
                    data-bs-target="#addOutletModal">
                        +
                </button>
            </div>
        </div>

        <div id="ad-slider-wrapper">
            <div id="ad-slider"></div>
        </div>  

        <!-- Chat Response -->
        <div class="chat-response px-1 overflow-auto" id="chat-container">
            <div class="message-bubble server">Hi, Good Day, Welcome!</div>
            <div class="message-bubble server">Kindly Enter the Bill Number and Send so that we can Track your Order.</div>
        </div>

        <!-- Chat Input -->
        <div class="chat-request px-1">
            <div class="predefined-buttons d-flex justify-content-between pb-2 pt-2">
                <button id="menu-button" class="menu-button btn text-white rounded-pill px-4" data-menu-url="">Menu</button>
                <button id="rating-button" class="menu-button btn text-white rounded-pill px-4">Rating</button>
                <button class="menu-button btn text-white rounded-pill px-4">Feedback</button>
            </div>
            <div class="d-flex">
                <input type="text" id="chat-input" class="form-control rounded-pill" placeholder="Enter your message...">
                <button id="send-button" class="btn text-white rounded-pill px-8">Send</button>
            </div>
        </div>
    </div>
</div> 


<!-- Modals -->

<div class="modal fade" id="addOutletModal" tabindex="-1" aria-labelledby="addOutletLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addOutletLabel">Select Outlets</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" id="close-modal" ></button>
        </div>
        <div class="modal-body">
          <div id="outlet-list" class="outlet-grid"></div>
        </div>
        <div class="modal-footer justify-content-center">
          <button id="continue-btn" class="continue-btn">Continue</button>
        </div>
      </div>
    </div>
  </div>
  

<div id="ad-modal" class="ad-modal">
    <span class="ad-modal-close">&times;</span>
    <img class="ad-modal-content" id="ad-modal-img">
</div>

<div class="modal fade" id="menuImageModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content rounded-4 shadow-lg">
        <div class="modal-header">
          <h5 class="modal-title">Our Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <div class="modal-body text-center" id="menuContent">
          <!-- Menu items rendered dynamically here -->
        </div>
      </div>
    </div>
  </div>
  
    

<div class="modal fade" id="permissionModal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center py-4">
                <h5 class="mb-4">Please grant permissions to play sound, receive notifications, and enable vibration.</h5>
                <button id="grant-permission" class="btn btn-primary px-4 me-2">Grant Permission</button>
                <button id="deny-permission" class="btn btn-outline-danger px-4">Deny Permission</button>
            </div>
        </div>
    </div>
</div> 




<div class="modal fade" id="notificationModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center py-4">
                <h5 class="mb-4"></h5>
                <button id="ok-notification" class="btn btn-primary px-4 me-2">OK</button>
                <button id="disable-notifications" class="btn btn-outline-danger px-4">Disable Notifications</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
