{% extends "orders/layouts/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'orders/css/styles.css' %}">
{% endblock %}

{% block content %}
<div class="container-wrapper mx-auto">
    <div class="container px-0">
        <!-- Vendor Logo Bar -->
        <div id="vendor-logo-bar">
            <div class="add-btn-wrapper flex-shrink-0">
                <button id="add-outlet-btn"
                        class="btn add-outlet-btn"
                        data-bs-toggle="modal"
                        data-bs-target="#addOutletModal">
                    +
                </button>
            </div>
        </div>

        <!-- Advertisement Slider -->
        <div id="ad-slider-wrapper">
            <div id="ad-slider"></div>
        </div>

        <!-- Chat Response -->
        <div class="chat-response px-1 overflow-auto" id="chat-container">
            <div class="message-bubble server">Hi, Good Day, Welcome!</div>
            <div class="message-bubble server">Kindly Enter the Bill Number and Send so that we can Track your Order.</div>
        </div>

        <!-- Chat Input -->
        <div class="chat-request px-1">
            <div class="predefined-buttons d-flex justify-content-between pb-2 pt-2">
                <button id="menu-button" class="menu-button btn text-white rounded-pill px-4" data-menu-url="">Menu</button>
                <button id="rating-button" class="menu-button btn text-white rounded-pill px-4">Rating</button>
                <button class="menu-button btn text-white rounded-pill px-4">Feedback</button>
            </div>
            <div class="d-flex">
                <input type="text" id="chat-input" class="form-control rounded-pill" placeholder="Enter your message...">
                <button id="send-button" class="btn text-white rounded-pill px-8">Send</button>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
{% include "orders/partials/index_modals.html" %}
{% endblock %}

{% block extra_js %}
<script type="module" src="{% static 'orders/js/scripts.js' %}"></script>
{% endblock %}
