{% extends 'company/layouts/base.html' %}
{% load static %}
{% block extra_css %}
{% comment %} <link rel="stylesheet" href="{% static 'company/css/dashboard.css' %}"> {% endcomment %}
{% endblock%}
{% block title %}Platform Settings{% endblock %}

{% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="text-golden">Food Flash Platform Settings</h1>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="card shadow-sm border-0">
      <!-- Admin Outlet Info Section -->
      <div id="outlet-info" class="card-header">
        <!-- Admin Outlet Data will be injected here -->
      </div>

      <!-- Vendors List -->
      <div class="card-body">
        <p class="mb-2">You can control platform settings from here.</p>
        <div class="row" id="vendor-list">
          <!-- Vendor Cards will be injected here -->
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block extra_js %}
<script type="module" src="{% static 'company/js/platformSettings.js' %}"></script>
{% endblock %}

