{% extends 'company/layouts/base.html' %}
{% load static %}
{% block title %}Create New Outlet{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
<link rel="stylesheet" href="{% static 'companyadmin/css/company_registration.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid">
  <form id="create-outlet-form" method="POST" enctype="multipart/form-data" class="card px-4 py-1 mx-auto shadow-sm" style="max-width: 900px;">
    {% csrf_token %}
    <h4 class="text-center">Create a New Outlet</h4>

    <div class="row">
      <!-- Outlet Name -->
      <div class="form-group col-md-6 col-12">
        <label for="name">Outlet Name</label>
        <input type="text" id="name" name="name" class="form-control form-control-sm" required />
      </div>

      <!-- Outlet Alias Name -->
      <div class="form-group col-md-6 col-12">
        <label for="name">Outlet Alias Name</label>
        <input type="text" id="alias_name" name="alias_name" class="form-control form-control-sm" required />
      </div>
    </div>

    <div class="row">
      <!-- Android TV Mapping -->
      <div class="form-group col-md-6 col-12">
        <label for="tv-select">Android TV's</label>
        <select id="tv-select" name="tv_mapping[]" multiple>
          <!-- Dynamic Data Populated -->
        </select>
      </div>
    
      <!-- Device Mapping -->
      <div class="form-group col-md-6 col-12">
        <label for="device-select">Keypad Devices</label>
        <select id="device-select" name="device_mapping[]" multiple>
          <!-- Dynamic Data Populated -->
        </select>
      </div>
    </div>
    <div class="row">
      <!-- Logo Upload -->
      <div class="form-group col-md-6 col-12">
        <label for="logo">Logo</label>
        <small class="form-text text-muted mb-2">Recommended: 1080×1080 | PNG or SVG</small>
        <input type="file" id="logo" name="logo" accept=".png,.svg" class="form-control-file" />
      </div>
      <div class="form-group col-md-6 col-12">
        <label for="menu_files">Menu Files</label>
        <small class="form-text text-muted mb-2">Upload multiple files | PDF, JPG, PNG, SVG | Max 5MB each</small>
        <input type="file" id="menu_files" name="menu_files" multiple accept=".pdf,.jpg,.jpeg,.png,.svg" class="form-control-file" />
      </div>
    </div>

    <!-- Menu File Upload -->
    <div class="row">
      <!-- Place ID -->
      <div class="form-group col-md-6 col-12">
        <label for="place_id">Place ID</label>
        <input type="text" id="place_id" name="place_id" class="form-control form-control-sm" />
      </div>

      <!-- Location -->
      <div class="form-group col-md-6 col-12">
        <label for="location">Location</label>
        <select name="location" id="location" class="form-control form-control-sm" required>
          <!-- Dynamic Data Populated -->
        </select>
      </div>
    </div>

    <!-- Submit Button -->
    <div class="text-center">
      <button type="submit" class="btn btn-outline-primary px-4 py-1">Create Outlet</button>
    </div>
  </form>
</div>
{% include "companyadmin/partials/loader.html" %}
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
<script type="module" src="{% static 'company/js/createOutlet.js' %}"></script>
<script type="module" src="{% static 'company/js/createOutletData.js' %}"></script>
{% endblock %}
