.hidden {
  display: none !important;
}

.profile-chip {
    background-color: #fdbf50;
    color: #212529;
    border-radius: 2rem;
    padding: 0.4rem 0.75rem;
    display: inline-flex;
    align-items: center;
    margin: 0.25rem;
    font-size: 0.85rem;
    cursor: pointer;
  }

.profile-chip i.remove-icon {
    margin-left: 0.5rem;
    color: #dc3545;
    cursor: pointer;
  }

.profile-chip-container {
    max-height: 120px;
    overflow-y: auto;
  }

.dropdown-chevron {
  transition: transform 0.5s ease;
  }

.dropdown-chevron.rotate {
  transform: rotate(180deg);
  }
