{% load static %}
<!-- iOS Install Modal -->
<div class="modal fade" id="iosInstallModal" tabindex="-1" aria-labelledby="iosInstallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h5 class="modal-title" id="iosInstallModalLabel">Add Food Flash to Home Screen</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>To receive real-time order updates</strong>, please add <strong>Food Flash</strong> to your iPhone or iPad home screen.</p>
        <p>Tap the <strong>Share</strong> icon 
          <img src="{% static 'orders/images/ios-share-button.png' %}" alt="Share Icon" style="width: 20px; vertical-align: middle;"> 
          on <strong>safari browser</strong> and then select <strong>"Add to Home Screen"</strong>.
        </p>
        {% comment %} <img src="{% static 'orders/images/ios-share-button.png' %}" alt="Food Flash Logo" style="width: 60px; margin-top: 10px;"> {% endcomment %}
      </div>
      <div class="modal-footer d-flex flex-row justify-content-between">
        <button type="button" class="btn btn-outline-primary flex-fill me-2" id="ios-a2hs-agree">I’ll Add It</button>
        <button type="button" class="btn btn-outline-primary flex-fill" id="ios-a2hs-deny">No Thanks</button>
      </div>           
    </div>
  </div>
</div>
